.page {
  max-width: 1440px;

  margin: auto;
}

.header {
  display: flex;
  position: relative;
  background: rgba(254, 206, 0, 0.83);
  backdrop-filter: blur(6.5px);
}

.header-info {
  margin-left: 168px;
}

.header__logotype {
  margin-top: 26px;
  display: flex;
  align-items: center;
}

.header__logotype-name {
  margin-left: 3px;
  color: #18193F;
  font-family: HeadLineA;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 125%;
  letter-spacing: 0.4px;
}

.header__text {
  margin: 0;
  margin-top: 17px;
  max-width: 629px;
  color: #232323;
  font-family: Museo Sans Cyrl;
  font-size: 44px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -1.76px;
}

.header__advertisement {
  margin: 0;
  margin-top: 24px;
  color: #232323;
  font-family: Museo Sans Cyrl;
  font-size: 35px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -1.4px;
  max-width: 501px;
}

.header__span {
  color: #232323;
  font-family: Helvetica Neue;
  font-size: 35px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -1.4px;
}

.date {
  margin: 0;
  margin: 5px 13px 7px 15px;
  color: #FFF;
  font-family: Helvetica Neue;
  font-size: 40px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -1.6px;
}

.month {
  margin: 0;
  color: #FFF;
  font-family: Helvetica Neue;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.72px;
  margin-top: 10px;
}

.text {
  margin: 0;
  color: #D2E400;
  font-family: Museo Sans Cyrl;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.48px;
  margin-bottom: 16px;
}

.header__data-block {
  display: flex;
  margin-top: 53px;
}

.header__data {
  display: flex;
  min-width: 209px;
  border-radius: 10px;
  background: rgba(66, 66, 66, 0.80);
  margin-right: 22px;
}

.header__links {
  margin-top: 76px;
  margin-bottom: 172px;
}

.header__link-price {
  margin: 0;
  margin-right: 8px;
  color: #FFF;
  text-align: center;
  font-family: Helvetica Neue;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  border-radius: 5px;
  background: #E10000;
  padding: 23px 64px 26px 66px;
  text-decoration: none;
}

.header__link-form {
  margin: 0;
  color: #171717;
  text-align: center;
  font-family: Helvetica Neue;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 132%;
  padding: 23px 29px;
  border-radius: 5px;
  border: 1px solid #171717;
  text-decoration: none;
}

.header__image {
  width: 528px;
  height: 687px;
  top: 108px;
  left: 811px;
  position: absolute;
  z-index: 10;
}

.header__image-coffee {
  margin-bottom: 0;
  position: absolute;
  left: 529px;
  right: 0;
  bottom: 0;
}

.header__image-grains {
  position: absolute;
}

.main {
  display: flex;
  flex-direction: column;
}

.title {
  margin: 0;
  margin-top: 90px;
  margin: auto;
  color: #181818;
  text-align: center;
  font-family: Helvetica Neue;
  font-size: 37px;

  font-weight: 700;
  line-height: 120%;
  padding: 90px 408px 85px 408px;
}

.cards {
  display: flex;
  justify-content: space-between;
  width: 1105px;
  margin: auto;
  gap: 11px;
}

.card {
  border-radius: 10px;
  border: 1px solid rgba(72, 72, 72, 0.40);
  width: 268px;
  display: flex;
  flex-direction: column;
  padding-bottom: 10px;
}

.card__number {
  margin: 0;
  color: #1B002F;
  font-family: Helvetica Neue;
  font-size: 26px;
  font-style: normal;
  font-weight: 500;
  line-height: 108%;
  margin-left: 69px;
  padding-top: 37px;
  padding-bottom: 44px;
  letter-spacing: 0.02em;
}

.card__number-one {
  margin-left: 57px;
}

.card__number-five {
  margin-left: 49px;
}

.card__price-new {
  margin: 0;
  color: #1B002F;
  font-family: Helvetica Neue;
  font-size: 50px;
  font-style: normal;
  font-weight: 400;
  line-height: 108%;
  margin-left: 23px;
}

.card__price-back {
  margin: 0;
  color: #A7ACBF;
  font-family: Helvetica Neue;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 108%;
  margin-top: 7px;
  margin-bottom: 33px;
  margin-left: 27px;
  text-decoration-color: #F22;
}

.card__list {
  margin: 0;
  padding: 0;
  list-style: none;
  margin-left: 50px;
}

.card__list-element {
  color: #2A2A2A;
  font-family: Montserrat;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  position: relative;
  margin-bottom: 10px;
}

.card__list-element:before {
  content: '✔';
  width: 8px;
  height: 8px;
  position: absolute;
  top: 0;
  left: -15px;
  color: black;
}


.card__prepayment {
  margin: 0;
  color: #A7ACBF;
  font-family: Helvetica Neue;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 108%;
  margin-top: 25px;
  margin-left: 23px;
}

.card__figure {
  margin: 0;
  color: #1B002F;
  font-family: Helvetica Neue;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: 108%;
  margin-top: 6px;
  margin-left: 23px;
  margin-bottom: 18px;
}

.card__button {
  margin: 0;
  margin: auto;
  margin-bottom: 12px;
  color: #FFF;
  text-align: center;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 23px;
  text-transform: uppercase;
  border-radius: 10px;
  background: #E10000;
  padding: 12px 24px 8px 24px;
  width: 224px;
  border: 0;
}

.present {
  margin: auto;
  border-radius: 20px;
  background: linear-gradient(268deg, #F5C618 1.36%, #FFE481 97.73%);
  max-height: 361px;
  width: 1105px;
  margin-top: 92px;
  margin-bottom: 96px;
  overflow: hidden;
  display: flex;
  position: relative;
}

.present__gereen {
  width: 619px;
  height: 707px;
  transform: rotate(21.523deg);
  border-radius: 70px;
  /* background: linear-gradient(201deg, #2E2F0B 2.5%, rgba(140, 142, 8, 0.00) 86.35%); */
  margin-left: -229px;
  margin-top: -66px;
  background: linear-gradient(201deg, #2E2F0B 2.5%, rgba(140, 142, 8, 0.00) 86.35%);
  
}

.present__title {
  color: rgba(140, 142, 8);
  font-family: Bebas Neue Cyrillic;
  font-size: 127px;
  font-style: normal;
  font-weight: 400;
  line-height: 79%;
  /* 100.33px */
  letter-spacing: -5.08px;
  text-transform: uppercase;
  margin: 0;
  margin-top: 84px;
  margin-bottom: 19px;
  padding-left: 100px;
}

.present__subtitle {
  color: #2C2C2C;
  margin: 0;
  font-family: Helvetica Neue;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
  margin-left: 97px;
  letter-spacing: 0.01em;
}

.present__subtitle-emigration {
  margin-top: 31px;

}

.present__subtitle-span {
  color: #2C2C2C;
  font-family: Helvetica Neue;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
}

.present__bow{
  background: url(./images/bow.svg);
  width: 379.834px;
  height: 225px;
  background-repeat: no-repeat;
  position: absolute;
  z-index: 2;
  right: -58px;
}

.present__book{
  width: 187px;
    height: 227px;
    background-repeat: no-repeat;
    position: absolute;
    z-index: 2;
    left: 17px;
    top: 101px;
}

.present__book1{
  width: 187px;
  height: 227px;
  background-repeat: no-repeat;
  position: absolute;
  z-index: 2;
  top: 42px;
  left: 259px;
}

.present__plus{
  width: 60px;
  height: 150px;
  background-repeat: no-repeat;
  position: absolute;
  z-index: 2;
  left: 196px;
  top: 118px;
}

.present__coffee-left{
  background-repeat: no-repeat;
    position: absolute;
    z-index: 2;
    left: 81px;
}

.present__coffee-right{
  background-repeat: no-repeat;
  position: absolute;
  z-index: 2;
  right: 0;
}


.form {
  width: 100%;
  background-color: #F5C618;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 49px;
  padding-bottom: 60px;
}

.form__title {
  margin: 0;
  margin-left: 15px;
  color: #151515;
  font-family: Helvetica Neue;
  font-size: 32px;
  font-style: normal;
  font-weight:700;
  line-height: 100%;
}

.form__subtitle {
  margin: 0;
  margin-top: 23px;
  margin-left: 8px;
  margin-bottom: 28px;
  color: #151515;
  text-align: center;
  font-family: Museo Sans Cyrl;
  font-size: 23px;
  font-style: normal;
  font-weight: 300;
  line-height: 99%;
 
}

.form__inputs {
  max-width: 553px;

}

.form__input {
  box-sizing: border-box;
  width: 100%;
  height: 80px;
  margin-bottom: 12px;
  border-radius: 10px;
  border: #FFF;
  color: #686868;
  font-family: Montserrat;
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
  line-height: 97%;
  letter-spacing: 1.24px;
  text-align: center;
}

.form__button {
  width: 100%;
  color: #FFF;
  text-align: center;
  font-family: Montserrat;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 23px;
  max-width: 553px;
  text-transform: uppercase;
  border-radius: 10px;
  background: #E10000;
  padding: 29px 165px;
  border: none;
  margin-top: 3px;
  margin-bottom: 26px;
}

.form__text {
  max-width: 566px;
  color: #151515;
  text-align: center;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
}

.footer {
  padding-top: 27px;
  padding-bottom: 54px;
  background-color: #2A2A2A;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer__info {
  margin: 0;
  color: #FFF;
  text-align: center;
  font-family: Helvetica Neue;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 180%;
  letter-spacing: -0.44px;
  text-transform: uppercase;
  max-width: 600px;
  margin-top: 30px;
}

.footer__contacts {
  margin: 0;
  color: #FFF;
  text-align: center;
  font-family: Helvetica Neue;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: -0.32px;
  max-width: 797px;
  margin-bottom: 43px;
}