.page {
  max-width: 1440px;

  margin: auto;
}

.header {
  display: flex;
  position: relative;
  background: rgba(254, 206, 0, 0.83);
  backdrop-filter: blur(6.5px);
}

.header-info {
  margin-left: 168px;
}

.header__logotype {
  margin-top: 26px;
  display: flex;
  align-items: center;
}

.header__logotype-name {
  margin-left: 3px;
  color: #18193F;
  font-family: HeadLineA;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 125%;
  letter-spacing: 0.4px;
}

.header__text {
  margin: 0;
  margin-top: 24px;
  max-width: 629px;
  color: #232323;
  font-family: Museo Sans Cyrl;
  font-size: 44px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -1.76px;
}

.header__advertisement {
  margin: 0;
  margin-top: 24px;
  color: #232323;
  font-family: Helvetica Neue;
  font-size: 35px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -1.4px;
  max-width: 501px;
}

.date {
  margin: 0;
  margin: 5px 13px 7px 15px;
  color: #FFF;
  font-family: Helvetica Neue;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -1.6px;
}

.month {
  margin: 0;
  color: #FFF;
  font-family: Helvetica Neue;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.72px;
  margin-top: 10px;
}

.text {
  margin: 0;
  color: #D2E400;
  font-family: Museo Sans Cyrl;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.48px;
  margin-bottom: 16px;
}

.header__data-block {
  display: flex;
  margin-top: 53px;
}

.header__data {
  display: flex;
  min-width: 209px;
  border-radius: 10px;
  background: rgba(66, 66, 66, 0.80);
  margin-right: 22px;
}

.header__links {
  margin-top: 76px;
  margin-bottom: 172px;
}

.header__link-price {
  margin: 0;
  margin-right: 16px;
  color: #FFF;
  text-align: center;
  font-family: Helvetica Neue;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  border-radius: 5px;
  background: #E10000;
  padding: 23px 64px 26px 66px;
  text-decoration: none;
}

.header__link-form {
  margin: 0;
  color: #171717;
  text-align: center;
  font-family: Helvetica Neue;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 132%;
  padding: 23px 29px;
  border-radius: 5px;
  border: 1px solid #171717;
  text-decoration: none;
}

.header__image {
  width: 528px;
  height: 687px;
  top: 108px;
  left: 811px;
  position: absolute;
  z-index: 10;
}

.header__image-coffee {
  margin-bottom: 0;
  position: absolute;
  left: 529px;
  right: 0;
  bottom: 0;
}

.header__image-grains {
  position: absolute;
}

.main{
  display: flex;
  flex-direction: column;
}

.title {
  margin: 0;
  margin-top: 90px;
  margin: auto;
  color: #181818;
  text-align: center;
  font-family: Helvetica Neue;
  font-size: 37px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
  padding: 90px 408px 85px 408px;
}

.cards {
  display: flex;
  justify-content: space-between;
  width: 1105px;
  margin: auto;
  gap: 11px;
}

.card {
  border-radius: 10px;
  border: 1px solid rgba(72, 72, 72, 0.40);
  width: 268px;
  display: flex;
  flex-direction: column;
  padding-bottom: 10px;
}

.card__number {
  margin: 0;
  color: #1B002F;
  font-family: Helvetica Neue;
  font-size: 26px;
  font-style: normal;
  font-weight: 500;
  line-height: 108%;
  margin: auto;
  padding-top: 32px;
  padding-bottom: 32px;

}

.card__price-new {
  margin: 0;
  color: #1B002F;
  font-family: Helvetica Neue;
  font-size: 50px;
  font-style: normal;
  font-weight: 400;
  line-height: 108%;
  margin-left: 23px;
}

.card__price-back {
  margin: 0;
  color: #A7ACBF;
  font-family: Helvetica Neue;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 108%;
  margin-top: 7px;
  margin-bottom: 33px;
  margin-left: 27px;
  text-decoration-color: #F22;
}

.card__list {
  margin: 0;
  padding: 0;
  list-style: none;
  margin-left: 50px;
}

.card__list-element {
  color: #2A2A2A;
  font-family: Montserrat;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  position: relative;
}

.card__list-element:before {
  content: '✔';
  width: 8px;
  height: 8px;
  position: absolute;
  top: 0;
  left: -15px;
  color: black;
}


.card__prepayment {
  margin: 0;
  color: #A7ACBF;
  font-family: Helvetica Neue;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 108%;
  margin-top: 25px;
  margin-left: 23px;
}

.card__figure {
  margin: 0;
  color: #1B002F;
  font-family: Helvetica Neue;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: 108%;
  margin-top: 6px;
  margin-left: 23px;
  margin-bottom: 21px;
}

.card__button {
  margin: 0;
  margin: auto;
  margin-bottom: 12px;
  color: #FFF;
  text-align: center;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 23px;
  text-transform: uppercase;
  border-radius: 10px;
  background: #E10000;
  padding: 12px 24px 8px 24px;
  width: 224px;
}

.present {
  margin: auto;
  border-radius: 20px;
  background: linear-gradient(268deg, #F5C618 1.36%, #FFE481 97.73%);
  min-height: 361px;
  width: 1105px;
  margin-top: 92px;
  margin-bottom: 96px;
}